@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #0a2a43;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, gray, transparent);
    z-index: 10000;
}
section::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #0a2a43;
    z-index: 10000;
    mix-blend-mode: color;
}
section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
#road {
    z-index: 2;
}
#text {
    position: relative;
    z-index: 1;
    top: -180px;
    text-align: center;
}
 h2{
    color: #fff;
    font-size: 4em;
}

.countdown {
    position: absolute;
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
.countdown div {
    position: relative;
    width: 100px;
    height: 80px;
    line-height: 100px;
    text-align: center;
    background-color: #333;
    color: #fff;
    margin: 0 15px;
    font-size: 3em;
    font-weight: 500;
}
.countdown div:before{
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 35px;
    background: #ff0;
    color: #333;
    font-size: 0.35em;
    line-height: 35px;
    font-weight: 300;
}
.countdown div#day:before{
    content: 'Days';
}
.countdown div#hour:before{
    content: 'Hours';
}
.countdown div#minute:before{
    content: 'Minutes';
}
.countdown div#second:before{
    content: 'Seconds';
}
.clockBx{
    z-index: 10001;
}
.clock{
    margin-top: -250px;
    margin-left: -350px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/clock.png');
    background-size: cover;
    border-radius: 50%;
}
.clock:before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    z-index: 10000;
}
.clock .hour,
.clock .min,
.clock .sec{
    position: absolute;
}
.clock .hour, .hr{
    width: 80px;
    height: 80px;
}
.clock .min, .mn{
    width: 110px;
    height: 110px;
}
.clock .sec, .sc{
    width: 130px;
    height: 130px;
}
.hr, .mn, .sc {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}
.hr:before{
    content: '';
    position: absolute;
    width: 5px;
    height: 40px;
    background-color: #ff105e;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
.mn:before{
    content: '';
    position: absolute;
    width: 3px;
    height: 55px;
    background-color: #fff;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}
.sc:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 90px;
    background-color: #fff;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}
/* Calculator */
.calBx{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../images/bg2.png');
    background-size: cover;
}
.calBx .calculator{
    position: relative;
    display: grid;
}
.calBx .calculator .value{
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
}
.calculator span{
    display: grid;
    width: 60px;
    height: 60px;
    color: #fff;
    background: #0c2835;
    place-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.calculator span:active{
    background: #ff0;
    color: #111;
}
.calculator span.clear{
    grid-column: span 2;
    width: 120px;
    background-color: #ff3077;
}
.calculator span.plus{
    grid-row: span 2;
    height: 120px;
}
.calculator span.equal{
    background-color: #03b1ff;
}
div[class="calBx"]::before{
    content: '';
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/rain.png');
    animation: rain 0.2s linear infinite;
}
@keyframes rain{
    0%{
        background-position: 0 0;
    }
    100%
    {
        background-position: 20% 100%;
    }
}